﻿@model csharp4_lesson13.Models.Sale
<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">MVC Discount</a>  </p>
                <p>@Html.ActionLink("Stock Quote","soap","Home")</p>
        </div>
    </div>
</header>
<div id="body" style='padding-left:5%'>
<div>
    <label>Amount</label>
    <input type="text" id='amount' />
    <label>Percentage (1 to 100%)</label>
    <input type='text' id='percentage' />
    <input type='submit' onclick='calc()' value='Get' />
</div>
<div>
    <label>Amount</label>
    <input type="text" id='amountpost' />
    <label>Percentage (1 to 100%)</label>
    <input type='text' id='percentagepost' />
    <input type='submit' onclick='calcpost()' value='Post'/>    

</div>
<p>Get Result</p>
<div id='result'>
</div>
<p>Post Result</p>
<div id='resultpost'>
</div>
</div>
<script>
    function calc() {
        amount = $('#amount').val();
        percentage = $('#percentage').val();
        $.getJSON('api/Values?amount=' + amount + '&percentage=' + percentage)
        .done(function (data)
        {
            $('#result').text(data);
        })
        .fail(function (jqXHR, textStatus, err)
        {
        })
    }

    function calcpost() 
    {
        amount = $('#amountpost').val();
        percentage = $('#percentagepost').val();
        $.ajax({
            url: "api/Values",
            type: 'Post',
            data: {amount: amount, percentage : percentage},
            dataType: 'json',
            success: function (data) { $('#resultpost').html(data); }
        });
    }

</script>

