﻿@{
    ViewBag.Title = "Stock Quote";    
}
<div style='padding-left:3%'>
    <h2>Stock Quotes</h2>
    <h3>Microsoft</h3>
    <p>@ViewData["msname"]</p>
    <p>@ViewData["msprice"]</p>
    <h3>Zynga</h3>
    <p>@ViewData["znname"]</p>
    <p>@ViewData["znprice"]</p>
</div>